/*- - - - - 100% height + centred content - - - - - */


* 				  {padding: 0; margin: 0;}
html, body  	  {height: 100%;} /*  background-color: #fff; */
#container  	  {min-height: 100%; margin: 0 auto;}
* html #container {height: 100%;}


/*- - - - - Responsive fixed width sizing - - - - - */

.wrapper	{margin: 0}
.clear 		{clear:both; height:0px; width:100%;}
.clear40 	{clear:both; height:40px; width:100%; background-color: #fff;}

/* Global Grid ----------- */

.flex-container, .flex-container-no-margins, .full-browser-width   {
  justify-content: space-between;        /* For fluid columns */
  webkit-justify-content: space-between; /* For fluid columns */
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap:wrap;
  -ms-flex-wrap: wrap;
}

.grid-margins, .no-margins {margin: 0 auto; } /*  background-color: #fff; */

.full-browser-width {	
  justify-content: center;
  webkit-justify-content: center;
}




.cleanViewOn > div    {background-color:#fff;}



.col-0 	{ display: none;} 
	
.col-1 	{width: 5.714%;} 	 
.col-2 	{width: 14.286%;} 
.col-3	{width: 22.857%;}
.col-4	{width: 31.429%;}
.col-5	{width: 40.000%;}
.col-6	{width: 48.571%;}
.col-7	{width: 57.143%;}
.col-8	{width: 65.714%;}
.col-9	{width: 74.286%;}
.col-10	{width: 82.857%;}
.col-11	{width: 91.429%;}
.col-12	{width: 100%;}	
	
	
/* Columns with no Gutters  */	
	
.col-1-no-gut 	{width: 8.333%;} 	 
.col-2-no-gut 	{width: 16.667%;} 
.col-3-no-gut	{width: 25.000%;}
.col-4-no-gut	{width: 33.333%;}
.col-5-no-gut	{width: 41.667%;}
.col-6-no-gut	{width: 50.000%;}
.col-7-no-gut	{width: 58.333%;}
.col-8-no-gut	{width: 66.667%;}
.col-9-no-gut	{width: 75.000%;}
.col-10-no-gut	{width: 83.333%;}
.col-11-no-gut	{width: 91.667%;}
.col-12-no-gut	{width: 100%;}	
	







/* ----------------- 1. Small  ----------- */

@media only screen
and (min-width : 320px)
and (max-width : 599px) {
	
.no-margins   {padding: 0px;} /* For full bleed image	*/	 			
.grid-margins {padding: 0 5% 0 5%;}  /* Update the Margins (Padding) for Grid change */

.cleanViewOn > div    {background-color:#fff;}
.cleanViewOff > div, .gridTempColour > div > div, .breakPoints span  {background-color: lightpink !important;}	 	
	
 h1.sizeInfo:before {content:'Small Width - Fluid Gutters';}  	
	
}




/* ----------------- 2. Medium ----------- */

@media only screen
and (min-width : 600px)
and (max-width : 979px) {
	
.no-margins   {padding: 0px;} /* For full bleed image	*/	 		
.grid-margins {padding: 0 5% 0 5%;} /* Update the Margins (Padding) for Grid change */
	
.cleanViewOff > div, .gridTempColour > div > div, .breakPoints span  {background-color: lightblue !important;}	 
 h1.sizeInfo:before {content:'Medium Width - Fluid Gutters';}  		
	
	
}	
	
	



/* ----------------- 3. Large ----------- */

@media only screen 
and (min-width : 980px)
and (max-width : 1199px) {

.no-margins   {padding: 0px;} 		/* For full bleed image	*/	 			
.grid-margins {padding: 0 5% 0 5%;} /* This adds left and right margins. */

.cleanViewOff > div, .gridTempColour > div > div, .breakPoints span {background-color: lightgreen !important;}	 		
 h1.sizeInfo:before {content:'L-Large Width - Fluid Gutters';}  	
	
}




/* ----------------- 4. X-Large ----------- */

@media only screen 
and (min-width : 1200px)
and (max-width : 1399px) {
	
	 
.no-margins     {padding: 0px;} 	  /* This removes left and right margins. */	  
.grid-margins   {padding: 0 2.5% 0 2.5%;} /* This adds left and right margins. */ 	 
	 
.cleanViewOff > div, .gridTempColour > div > div, .breakPoints span  {background-color: lightgray !important;}	 
 h1.sizeInfo:before {content:'X-Large Width - Fluid Gutters';}  	 
	 
}
	
	
	

/* ----------------- 4. XX-Large ----------- */


@media only screen 
and (min-width : 1400px)
 {
	 
.no-margins     {padding: 0px;} 	  /* This removes left and right margins. */	  
.grid-margins   {max-width : 1400px; padding: 0 2.5% 0 2.5%;} /* This adds left and right margins. */ 	 

.cleanViewOff > div, .gridTempColour > div > div, .breakPoints span  {background-color: lightsteelblue !important;}	 
 h1.sizeInfo:before {content:'XX-Large Width - Fluid Gutters';}  	 
	 
}
		
	.fullBleed   {width : 100%;} /* This adds left and right margins. */ 	 

	

